@media(max-width:480px){
    /* .banner{height:auto;padding-bottom:30px}
    .discover{font-size:24px}
    .get_home{font-size:18px}
    .right_content_banner{padding-left:0}
    .left_content_banner{padding-right:0;padding-left:0}
    .header_form{font-size:14px;padding:5px}
    .get_the_lowest{font-size:12px}
    .body_form{padding:10px 15px 20px}
    .container_cs{max-width:100vw}
    .label_check_cs{font-size:12px}
    .btn_cs{width:100%;padding:10px 15px;font-size:14px}
    .have_3_col{flex-direction:column;align-items:center}
    .wrap_col{width:90%;margin-bottom:20px}
    .wrap_content_bg_gr{flex-direction:column-reverse}
    .wrap_content_right_gr{width:100vw}
    .we_know{text-align:center;font-size:24px}
    .can_be{font-size:20px;text-align:center;padding-left:0}
    .we_are_here{font-size:14px;text-align:center;width:100vw;margin-bottom:15px;padding-left:15px;padding-right:15px}
    .wrap_2_col_gr{flex-direction:column;padding-left:15px;padding-right:15px}
    .col_gr{width:100%}.para{min-height:auto}
    .bg_green{padding-bottom:20px}
    .bg_green1{padding-left:15px;padding-right:15px}
    
    #header{padding-left:10px;padding-right:10px} */
    
    .the_trust{font-size:18px}

    .we_have{
        font-size:14px;
        width:100%;
        margin-top:10px
    }
    
}


@media (max-width: 566px){
    .columns-wrapper{
        max-width: 100vw;
        flex-direction: column;
        align-items: center;
        
    }

    .columns-wrapper .column{
        width: 100%;
        margin-bottom: 20px
    }
    .three-title{
        font-size: 2rem!important;
    }

    .three-tricks{
        flex-direction: column;
    }

    .three-tricks .three-tricks__item{
        width: 100%!important;
        min-height: 350px!important;
        margin-bottom: 20px;
        padding-bottom: 40px;
    }

    .question-list{
        flex-direction: column;
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .question-list .question-list__left, .question-list .question-list__right{
        width: 100%;
    }
}

@media (max-width: 766px) {
    .section2 .we_know_style{
        font-size: 26px;
    }

    .container_cs{
        max-width: 100vw!important;
    }
}